@font-face {
  font-family: "Montserrat";
  src: url("/Font/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

.main {
  background-image: url(/token/images/lolos.png);
  background-size: cover;
  position: relative;
  min-height: 100vh;
  /* min-width: 100vw; */
  background-position: center;
}

.title {
  font-family: "Montserrat";
  color: bisque;
  text-align: center;
  margin-top: 3rem;
}

.subtitle {
  font-family: "Montserrat";
  color: bisque;
  text-align: center;
  margin-top: 2rem;
}

.subtitleManage {
  font-family: "Montserrat";
  color: bisque;
  text-align: center;
  margin-top: 2rem;
  font-size: 20px;
}

.box {
  width: 950px;
  height: 450px;
  text-align: center;
  margin: auto;
  background: rgb(0, 0, 0, 0.5);
  top: 19%;
  /* transform: translateX(9%); */
  position: absolute;
  overflow: auto;
  border-radius: 55px;
  padding-right: 50px;
  padding-left: 50px;
  border: 30px solid;
  border-color: rgb(0, 0, 0, -0.1);

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* width */
::-webkit-scrollbar {
  width: 20px;
  padding-right: 40px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 10px;
}

.qrcode img {
  max-width: 200px;
  margin-top: 1rem;
}

.dazzling {
  max-width: 150px;
  margin: auto;
  margin-top: 2rem;
}

.modal-content {
  min-width: 950px;
  position: fixed;
  left: 50%;
  /* top: 20%; */
  transform: translate(-50%, -0%);
  float: left;
}



@media screen and (max-width: 994px) {
  .box{
    width: 850px;
    height: 450px;
  }
  .modal-content{
    min-width: 700px;
  }
}

@media screen and (max-width: 767px) {
  .box{
    width: 550px;
    height: 450px;
  }
  .modal-content{
    min-width: 500px;
    left: 75%;
  }
}

@media screen and (max-width: 731px) {
  .modal-content{
    min-width: 500px;
    left: 70%;
  }
}


@media screen and (max-width: 631px) {
  .modal-content{
    min-width: 400px;
    left: 60%;
  }
}

@media screen and (max-width: 575px) {
  .box{
    width: 450px;
    height: 550px;
  }
  .modal-content{
    min-width: 400px;
    left: 50%;
  }
}

@media screen and (max-width: 460px) {
  html{
    overflow: hidden;
  }
  .box{
    width: 290px;
    height: 550px;
    padding-left: 0;
    padding-right: 0;
  }
  .modal-content{
    min-width: 300px;
    left: 50%;
  }
  .title{
    font-size: 15px;
  }

  .subtitle{
    font-size: 12px;
  }

  .subtitleManage{
    font-size: 10px;
  }
  .dazzling{
    max-width: 80px;
  }
  .qrcode img{
    max-width: 150px;
  }
} 